absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
alphashape==1.3.1
antlr4-python3-runtime==4.8
anyio==4.5.2
async-timeout==5.0.1
attrs==24.2.0
auditwheel==6.0.0
blinker==1.8.2
cachelib==0.9.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
click-log==0.4.0
cloudpickle==3.1.0
colour==0.1.5
contourpy==1.1.1
cssselect2==0.7.0
cycler==0.12.1
dash==2.18.1
dash-core-components==2.0.0
dash-extensions==1.0.15
dash-html-components==2.0.0
dash-table==5.0.0
dash-uploader==0.6.1
dataclass-wizard==0.22.3
decorator==4.4.2
defusedxml==0.7.1
dep-logic==0.4.10
descartes==1.1.0
distlib==0.3.9
distro==1.9.0
dm-reverb==0.12.0
dm-tree==0.1.8
dtaidistance==2.3.12
dtw==1.4.0
EditorConfig==0.12.4
exceptiongroup==1.2.2
Farama-Notifications==0.0.4
fastdtw==0.3.4
filelock==3.16.1
findpython==0.6.2
Flask==3.0.3
Flask-Caching==2.3.0
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.10.0
gtimer==1.0.0b5
gymnasium==1.0.0
h11==0.14.0
h5py==3.11.0
hishel==0.0.33
httpcore==1.0.7
httpx==0.28.1
hydra-core==1.1.0
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
installer==0.7.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsbeautifier==1.15.1
kaleido==0.2.1
kiwisolver==1.4.7
lanelet2==1.2.2
lapsolver==1.1.0
llvmlite==0.39.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
more-itertools==9.1.0
motmetrics==1.1.3
moviepy==1.0.3
msgpack==1.1.0
multidict==6.1.0
nest-asyncio==1.6.0
networkx==3.1
numpy==1.24.4
omegaconf==2.1.2
opencv-python==4.10.0.84
packaging==24.2
pandas==2.0.3
pbs-installer==2025.2.5
pdm==2.20.1
pillow==10.4.0
platformdirs==4.3.6
plotly==5.24.1
polars==1.8.2
portpicker==1.6.0
proglog==0.1.10
propcache==0.2.0
psutil==5.9.7
pycparser==2.22
pyelftools==0.31
pygame==2.6.0
Pygments==2.19.1
pykalman==0.9.7
pyntcloud==0.3.1
pyparsing==3.1.4
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
resolvelib==1.1.0
retrying==1.3.4
rich==13.9.4
rlds==0.1.8
Rtree==1.3.0
scikit-learn==1.3.2
scipy==1.10.1
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
socksio==1.0.0
some-package==0.1
sumolib==1.21.0
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.5.0
tinycss2==1.4.0
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
trimesh==4.5.3
typing_extensions==4.12.2
tzdata==2024.2
unearth==0.17.2
urllib3==2.2.3
virtualenv==20.29.1
webencodings==0.5.1
Werkzeug==3.0.6
yarl==1.15.2
zipp==3.20.2
